Service References/ServiceXLQ/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getBoundary">
        <s:complexType />
      </s:element>
      <s:element name="getBoundaryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getBoundaryResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getBoundaryRow">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="massNum" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getBoundaryRowResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getBoundaryRowResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getBoundarySoapIn">
    <wsdl:part name="parameters" element="tns:getBoundary" />
  </wsdl:message>
  <wsdl:message name="getBoundarySoapOut">
    <wsdl:part name="parameters" element="tns:getBoundaryResponse" />
  </wsdl:message>
  <wsdl:message name="getBoundaryRowSoapIn">
    <wsdl:part name="parameters" element="tns:getBoundaryRow" />
  </wsdl:message>
  <wsdl:message name="getBoundaryRowSoapOut">
    <wsdl:part name="parameters" element="tns:getBoundaryRowResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="getBoundary">
      <wsdl:input message="tns:getBoundarySoapIn" />
      <wsdl:output message="tns:getBoundarySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getBoundaryRow">
      <wsdl:input message="tns:getBoundaryRowSoapIn" />
      <wsdl:output message="tns:getBoundaryRowSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getBoundary">
      <soap:operation soapAction="http://tempuri.org/getBoundary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBoundaryRow">
      <soap:operation soapAction="http://tempuri.org/getBoundaryRow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getBoundary">
      <soap12:operation soapAction="http://tempuri.org/getBoundary" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBoundaryRow">
      <soap12:operation soapAction="http://tempuri.org/getBoundaryRow" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://10.118.118.186:3199/service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://10.118.118.186:3199/service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>